/********** Template CSS **********/
:root {
    --primary: #86B817;
    --secondary: #FE8800;
    --light: #F5F5F5;
    --dark: #14141F;
}

@media screen and (max-width: 576px) {
  .title-container h1 {
    font-size: 25px;
    line-height: 1;
  }
  .title-container h1 span {
    display: block;
    margin: 0.5em 0;
  }
}

.white-text,
        .white-text::placeholder,
        .white-text:focus {
        color: white;

        }

        .white-text option {
            background-color: #343a40; /* Set to your desired background color */
            color: white;
        }


.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 75px;
    bottom: 65px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}

/***Gallery***/
.gallery {
  margin: 60px auto;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  border-radius: 10px;
  height: 300px; /* Set a fixed height for the gallery item */
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure that the image fills the container while maintaining its aspect ratio */
  transition: transform 0.3s ease-in-out;
}

.gallery .gallery-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s ease;
  background: rgba(0, 0, 0, 0.6);
}

.gallery-item:hover img {
  transform: scale(1.1);
}

.gallery .gallery-item:hover .overlay {
  opacity: 1;
}

.gallery .gallery-item .overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.gallery .gallery-item .overlay-content h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.gallery .gallery-item .overlay-content p,
.gallery .gallery-item .overlay-content small {
  font-size: 14px;
  margin-bottom: 5px;
}

.gallery-item:first-child {
  margin-right: 15px;
}

@media (max-width: 767px) {
  .gallery-item:first-child {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.gallery-title {
  text-align: center;
  margin-bottom: 60px;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}


/***Gallery/***


/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
    font-family: 'Nunito', sans-serif;
    position: relative;
    margin-right: 25px;
    padding: 35px 0;
    color: #FFFFFF !important;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary) !important;
}

.navbar-light .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--dark) !important;
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, .1);
        z-index: 999;
    }
    
    .sticky-top.navbar-light {
        position: fixed;
        background: #FFFFFF;
    }

    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--primary);
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: calc(100% - 2px);
        left: 1px;
    }

    .navbar-light .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }
}

.btn-floating {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

@media only screen and (max-width: 767px) {
  .btn-floating {
    position: fixed;
    display: block;
    right: 20px;
    bottom: 20px;
    z-index: 99;
  }
}




/*** Hero Header ***/
.hero-header-index {
    background: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)), url(../img/BIGFIVE/lion.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-header-nyungwe {
    background: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)), url(../img/nyungwe2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-header-volcanoes {
    background: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)), url(../img/musanze1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-header-kgl {
    background: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)), url(../img/kgl1.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-header-mkra {
    background: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)), url(../img/gishwati1.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-header-ntl {
    background: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)), url(../img/msm1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-header-ibyacu {
    background: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)), url(../img/ibyacu1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-header-kingplc {
    background: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)), url(../img/kingplc.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-header-rbv {
    background: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)), url(../img/rubavu.PNG);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-header-kbymsm {
    background: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)), url(../img/kbymsm.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-header-mszcaves {
    background: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)), url(../img/mszcaves1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-header-krb {
    background: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)), url(../img/krb.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-header-kmb {
    background: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)), url(../img/kmbht.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*.hero-header-index {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: flashTransition 25s infinite;
}

@keyframes flashTransition {
    0%, 20%, 22.5% {
        background-image: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)), url(../img/BIGFIVE/lion.jpg);
    }
    25%, 45%, 47.5% {
        background-image: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)), url(../img/BIGFIVE/elephant.jpg);
    }
    50%, 70%, 72.5% {
        background-image: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)), url(../img/BIGFIVE/rhinoceros.jpg);
    }
    75%, 95%, 97.5% {
        background-image: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)), url(../img/BIGFIVE/leopard.jpg);
    }
    100% {
        background-image: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)), url(../img/BIGFIVE/buffalo.jpg);
    }
}*/

.hero-header-main {
    background: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)), url(../img/bg-hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-header-lion {
    background: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)), url(../img/BIGFIVE/lion1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-header-leo {
    background: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)), url(../img/BIGFIVE/leopard.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-header-leo1 {
    background: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)), url(../img/BIGFIVE/leopard1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-header-elephant {
    background: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)), url(../img/BIGFIVE/elephant.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-header-rhino {
    background: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)), url(../img/BIGFIVE/rhinoceros.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-header-buf {
    background: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)), url(../img/BIGFIVE/buffalo1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-header-gallery {
    background: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)), url(../img/gallery/pic4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.scroll-down-button {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    font-size: 24px;
    color: #fff;
    transition: opacity 0.3s ease-in-out;
}

.scroll-down-button:hover {
    opacity: 0.7;
}

@keyframes arrow-bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(8px);
    }
    100% {
        transform: translateY(0);
    }
}

.scroll-down-button i {
    animation: arrow-bounce 1.5s infinite;
}


.breadcrumb-item + .breadcrumb-item::before {
    color: rgba(255, 255, 255, .5);
}

/*** Big Five Section ***/

/* Big Five Intro Section */
.big-five-intro-section {
  padding: 50px 0;
  background-color: #f8f8f8;
}

.big-five-intro-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.big-five-intro-description {
  font-size: 18px;
  line-height: 1.8;
  text-align: justify;
  margin-bottom: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* Big Five Animal Section */
.big-five-section {
        padding: 30px;
        background-color: #f8f9fa;
    }
    
    .big-five-section .big-five-title {
        margin-top: 0;
        margin-bottom: 20px;
    }
    
    .big-five-section .big-five-features li {
        margin-bottom: 10px;
    }
    
    .big-five-section .big-five-description {
        margin-bottom: 20px;
    }

    .conclusion-text {
    margin-top: 40px;
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
    }

    .conclusion-text::after {
        content: "";
        display: block;
        width: 100px;
        height: 3px;
        background-color: #000;
        margin: 20px auto;
    }

    .text-center {
        text-align: center;
    }

/*** About Us Section ***/
.history-title-section {
  background-color: transparent;
  padding: 80px 0;
}

.history-title {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.history-subtitle {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #666;
  margin-bottom: 30px;
}

.history-description {
  font-size: 18px;
  text-align: center;
  color: #666;
  margin-bottom: 40px;
}

.history-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-top: 20px;
}

.text-center {
  text-align: center;
}

/*Packages*/
.big-packages-section {
  padding: 50px 0;
  background-color: transparent;
}

.big-packages-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  color: #333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

/* Akagera Section */
  #akagera-section {
    padding: 80px 0;
    background-color: transparent;
    text-align: center;
  }

  .akgsection-title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
  }

  .section-description {
    font-size: 18px;
    color: #777;
    line-height: 1.6;
  }

  .itinerary-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }

  .activities-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    margin-top: 40px;
  }

  .book-now-button {
  margin-top: 40px;
}

.book-now-button a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00b894;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.book-now-button a:hover {
  background-color: #00a885;
}

  /* Responsive Styles */
  @media (max-width: 768px) {
    .col-lg-6 {
      margin-top: 40px;
    }
  }



/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}


/*** Service ***/
.service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.service-item:hover {
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}


/*** Destination ***/
.destination img {
    transition: .5s;
}

.destination a:hover img {
    transform: scale(1.1);
}

.destination-card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
  transition: transform 0.3s;
}

.destination-card:hover {
  transform: translateY(-5px);
}

.destination-card .card-img-top {
  object-fit: cover;
  height: 200px;
}

.destination-card .card-body {
  padding: 20px;
}

.destination-card .card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.destination-card .card-text {
  font-size: 14px;
  color: #888;
}

.destination-card .btn-primary {
  border-radius: 0 30px 30px 0;
  transition: background-color 0.3s;
}

.destination-card .btn-primary:hover {
  background-color: #185ADB;
}



/*** Package ***/
.package-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.package-item img {
    transition: .5s;
}

.package-item:hover img {
    transform: scale(1.1);
}


/*** Booking ***/
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button-container a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border: 2px transparent;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-right: 50px; /* Add some space between buttons */
    margin-top: 20px;
    transition: all 0.2s ease-in-out;
}

.button-container a:hover {
    transform: scale(1.1);
}

.button-container img {
    width: 40px;
    height: 40px;
}

.button-container p {
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .button-container {
        flex-direction: column;
    }

    .button-container a {
        margin-bottom: 10px;
        margin-right: 0;
    }
}


.booking {
    background: linear-gradient(rgba(15, 23, 43, .7), rgba(15, 23, 43, .7)), url(../img/destination.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.booking .btn-social-whatsapp,
.booking .btn-social-instagram,
.booking .btn-social-facebook {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.booking .btn-social-whatsapp:hover,
.booking .btn-social-instagram:hover,
.booking .btn-social-facebook:hover {
  background-color: #fff;
  color: #222;
}

.booking .btn-social-whatsapp i,
.booking .btn-social-instagram i,
.booking .btn-social-facebook i {
  font-size: 20px;
  margin-right: 10px;
}

.booking .btn-social-whatsapp:before {
  content: '\f232';
}

.booking .btn-social-instagram:before {
  content: '\f16d';
}

.booking .btn-social-facebook:before {
  content: '\f09a';
}

.booking .btn-social-whatsapp:after,
.booking .btn-social-instagram:after,
.booking .btn-social-facebook:after {
  content: 'Book with';
  font-size: 14px;
  margin-left: 10px;
  color: #fff;
}

.booking .btn-social-whatsapp:hover:after,
.booking .btn-social-instagram:hover:after,
.booking .btn-social-facebook:hover:after {
  color: #222;
}


/*** Team ***/
.team-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}

.team-item .btn {
    background: #FFFFFF;
    color: var(--primary);
    border-radius: 20px;
    border-bottom: 1px solid var(--primary);
}

.team-item .btn:hover {
    background: var(--primary);
    color: #FFFFFF;
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--primary) !important;
    border-color: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}